.colorOrange {
  color: #fd7405;
}
.bgOrange {
  background-color: #fd7405;
}
.cardFeatureHeight {
  height: 180px;
}
.cardFeatureHover:hover {
  background-color: #5d381e !important;
  color: white;
}
.cardFeatureHover:hover > .badge {
  left: 38%;
  transform: scale(1.1);
  z-index: 1;
}
.btnTextSize {
  font-size: 0.9em;
}
.ZIndex {
  z-index: 4;
}
.badge {
  background: #fd7405;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.BGimg {
  position: absolute;
  top: 10%;
}
.cornerbg {
  position: absolute;
  width: 11%;
  right: 0;
  bottom: -4%;
}
.rectTEXT {
  justify-content: center;
  align-items: end;
  z-index: 5;
}
.BGrectangle {
  background: url("../../assets/icons/Rectangle 102.png");
  background-position: center;
  background-size: cover;
  /* height: min-content; */
}
.pdLeft {
  position: relative;
  padding-left: 50px;
  object-fit: cover;
  z-index: 1;
}

.bgImagesTop,
.bgImagesBottom {
  position: absolute;
  left: 0;
  width: 150px;
  height: 150px;
}

.bgImagesTop {
  background: url("https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849821_1280.jpg");
  z-index: 2;
  background-position: center;
  top: 0;
  background-size: cover;
}

.bgImagesBottom {
  border: 15px solid #fd7405;
  border-radius: 50%;
  bottom: 0;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .BGimg {
    width: 80%;
  }
  .cornerbg {
    width: 20%;
  }
}

@media screen and (max-width: 425px) {
  .bgImagesTop,
  .bgImagesBottom {
    width: 75px;
    left: 8%;
    height: 75px;
  }

  .bgImagesBottom {
    border: 5px solid #fd7405;
    top: 19%;
  }

  .BGimg {
    width: 30%;
  }
  .cornerbg {
    bottom: -2.5%;
    width: 30%;
  }
}

@media screen and (max-width: 375px) {
  .bgImagesBottom {
    top: 15%;
  }
  .btnTextSize {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 320px) {
  .bgImagesBottom {
    top: 12%;
  }
}
