.addBTN {
  width: 15%;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  bottom: 23%;
  padding: 5px;
}

.bgColor {
  background-color: #2b2d32;
}

.imgSet {
  border: 10px solid white;
  border-radius: 50%;
  width: 40vh;
  position: absolute;
  bottom: 24%;
  left: 10%;
}
.imgQuote {
  position: absolute;
  top: -13%;
}
.colorOrange {
  color: #fd8602;
}
.indicatosmoveSet {
  position: absolute;
}

.carousel-indicators i {
  padding: 10px;
  margin: 0px 3px;
  border: 2px solid #fd7405;
  border-radius: 50%;
}

.carousel-indicators .active {
  background: #fd7405;
}

.badge {
  background: #fd7405;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.cardTeamHeight {
  height: 120px;
}
.cardTeamHover:hover {
  background: #fd7405 !important;
  color: white;
}
.cardTeamHover:hover > .badge {
  left: 39%;
  transform: scale(1.1);
  z-index: 1;
  transform: all 0.5s ease-out;
}

@media screen and (max-width: 2560px) {
  .imgSet {
    bottom: 10%;
    width: 30%;
    left: 0;
  }

  .indicatosmoveSet {
    left: -20%;
    bottom: 10%;
  }
}

@media screen and (max-width: 1440px) {
  .addBTN {
    bottom: 23%;
  }

  .indicatosmoveSet {
    left: -26%;
  }
}

@media screen and (max-width: 1024px) {
  .addBTN {
    bottom: 30%;
  }
  .imgSet {
    bottom: 20%;
    left: 2%;
  }
  .indicatosmoveSet {
    left: -20%;
    bottom: 10%;
  }
}

@media screen and (max-width: 768px) {
  .addBTN {
    bottom: 35%;
  }
  .imgSet {
    bottom: 30%;
  }

  .indicatosmoveSet {
    bottom: 10%;
  }
}
@media screen and (max-width: 425px) {
  .addBTN {
    bottom: 24%;
  }
  .imgSet {
    width: 80%;
    bottom: 0;
    top: 8%;
    left: 20%;
  }
}
@media screen and (max-width: 320px) {
  .addBTN {
    bottom: 29%;
  }
  .imgSet {
    width: 90%;
    bottom: 0;
    top: 10%;
    left: 12%;
  }
}
