.ParentContainer {
  background: linear-gradient(to bottom, #3b4043 50%, #232429 50%);
}

.swiper-button-prev,
.swiper-button-next {
  color: #fd7405 !important;
}

.swiper-pagination-bullet {
  padding: 8px;
  border: 3px solid #fd7405 !important;
}

.swiper-pagination-bullet-active {
  background: #fd7405 !important;
}

.ring1 {
  position: absolute;
  padding: 25px;
  border: 5px solid#3b4043;
  background: transparent;
  border-radius: 50%;
  left: 56%;
  z-index: 1;
  bottom: 12%;
}
.ring2 {
  position: absolute;
  padding: 10px;
  border: 5px solid #fd7405;
  background: transparent;
  border-radius: 50%;
  left: 61%;
  z-index: 1;
  bottom: 18%;
}

@media screen and (max-width: 2560px) {
  .ring1 {
    left: 58%;
    padding: 15px;
    bottom: 13%;
  }
  .ring2 {
    left: 61%;
    padding: 8px;
    bottom: 18%;
  }
}

@media screen and (max-width: 1440px) {
  .ring1 {
    left: 58%;
    padding: 15px;
    bottom: 13%;
  }
  .ring2 {
    left: 61%;
    padding: 8px;
    bottom: 18%;
  }
}
@media screen and (max-width: 1024px) {
  .ring1 {
    left: 57%;
    padding: 15px;
    bottom: 13%;
  }
  .ring2 {
    left: 61%;
    padding: 8px;
    bottom: 18%;
  }
}
@media screen and (max-width: 768px) {
  .ring1 {
    left: 57%;
    padding: 15px;
    bottom: 12%;
  }
  .ring2 {
    left: 61%;
    padding: 8px;
    bottom: 17%;
  }
}

@media screen and (max-width: 425px) {
  .ring1 {
    left: 82%;
    bottom: 10%;
  }
  .ring2 {
    left: 90%;
    bottom: 17%;
  }
}
