.nav-item {
  padding: 10px !important;
  font-weight: bold !important;
}
.nav-link {
  color: white !important;
}

.btnOrange {
  background: #fd7405 !important;
  color: white !important;
}

@media screen and (max-width: 320px) {
  .DIV320 {
    display: inline-flex;
    width: 70%;
  }
  .logo {
    width: 100%;
  }
}
